<div class="col-xs-offset-1 col-xs-10">
<table class="table table-striped">
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td><%= attachment_image_tag @user, :image, :fill, 100, 100, fallback: "no_image.jpg" %></td>
			<td><%= @user.name %><br><%= @user.introduction %></td>

			<% if @user.id == current_user.id %>
			<td><%= link_to "編集", edit_user_path(@user) %></td>
			<% end %>
		</tr>
	</tbody>
</table>
</div>
<div class="col-xs-offset-1"></div>




