
<h2>ガイドライン</h2>


<body>

<h3>使い方</h3>

<br>

<p>①ログインしよう！</p>
<p>（メールアドレスとパスワードで簡単ログイン！）</p>

<br>

<p>②タグを選ぼう！</p>
<p>（聞きたい種類のタグを選ぼう！）</p>

<br>

<p>③誰に質問するか決めよう！</p>
<p>（普段話したことがないGSに質問できるチャンス！）</p>

<br>

<p>④質問を投稿しよう！</p>
<p>（匿名なので、質問内容をバレる心配なし！GSが本気で質問に向き合います！）</p>

<br>



<h3>ポイント</h3>
<br>
<p>① 他のメンバーがしている質問を自分も聞きたいと思ったら"聞きたいボタン👍"押してみよう！</p>

<br>

<p>② お互いがどういう悩みや課題を持っているのか共有しよう！</p>

<br>

<p>③ 質問は遅くとも2日以内に返答します！</p>


<br>
<br>

<p>注意事項</p>
<p>・解答が難しい質問にはOQで伝えるのではなく、直接会った方が伝えやすい場合がありますので、直接伝えることもあります。</p>
<p>・リテラシーの低い質問や公的に答えらない質問は運営者の方で強制的に削除します。
答えられる質問には出来るだけ答えていくので、気軽にご質問ください</p>

</body>