
<section class="blog">
	<div class="blog-main">
		<h2 class="blog-title">ガイドライン<p><span>OpenQestion GUIDE</span></p></h2>
	</div>
<!-- --------  noteでできること３つ ------------------------- -->
	<div class="blog-contents">
		<h3 class="contents-title">OpenQestionでできること</h3>
		<p class="blog-contents-top">GSメンバーに普段は聞きづらいことでも、ここでは質問できます。<br>
			質問は完全匿名制なので、<br>
			普段は質問できないようなことでもなんでも聞いてみてください。</p>
		<div class="blog-box-block">
			<div class="blog-box">
				<img src="quiestion.png" height="200" width="200">
				<h4>GSメンバーに質問</h4>
				<p>GSメンバーに質問ができます。<br>完全に匿名で質問できます。</p>
			</div>
			<div class="blog-box">
				<img height="200" src="" width="200">
				<h4>他のメンバーの質問が見れる</h4>
				<p>他の人の回答も読むことができるので、<br>自分と同じ悩みが質問されていたら、<br>自分に生かすことができます。<br>もし回答を聞きたいと思ったら、<br>【聞きたいボタン】を押してみてください。</p>
			</div>

			<div class="blog-box">
				<img height="200" src="" width="200">
				<h4>各GSメンバーのMy Story</h4>
				<p>もし質問することが無いなぁと思う人は、<br>GSメンバーのMy Storyを読んでみてください。<br>各メンバーがこれまでどんな経験をしているのか、<br>これからどうしていくのかが書いてあります。<br>自分に少し似てるなと思う人は、質問してみてください。</p>
			</div>
		</div>
	</div>
<!-- ---------------  投稿の仕方4手順 ----------------------------- -->
	<div class="main-contents">
		<h3 class="main-contents-title">質問の仕方</h3>
		<div class="main-contents-box">
			<div class="main-contents-img"><img height="200" src="" width="300"></div>
			<div class="main-contents-info">
				<h4><div class="circleNumber"><span>1</span></div>ログインする</h4>
				<p>メールアドレスとパスワードで簡単ログイン！</p>
			</div>
		</div>

		<div class="main-contents-box">
			<div class="main-contents-img"><img height="200" src="" width="300"></div>
			<div class="main-contents-info">
				<h4><div class="circleNumber"><span>2</span></div>ジャンルを選ぼう！</h4>
				<p>聞きたい種類のジャンルを選ぼう！</p>
			</div>
		</div>
		<div class="main-contents-box">
			<div class="main-contents-img"><img height="200" src="" width="300"></div>
			<div class="main-contents-info">
				<h4><div class="circleNumber"><span>3</span></div>誰に質問するか決めよう！</h4>
				<p>普段話したことがないGSに質問できるチャンス！</p>
			</div>
		</div>
		<div class="main-contents-box">
			<div class="main-contents-img"><img height="200" src="" width="300"></div>
			<div class="main-contents-info">
				<h4><div class="circleNumber"><span>4</span></div>質問を投稿しよう！</h4>
				<p>匿名なので、質問内容をバレる心配なし！GSが本気で質問に向き合います！</p>
			</div>
		</div>
	</div>
</section>