// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main_contents {
    width: 50%;
    margin: 0 auto;
}

.box2 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.box2 p {
    margin: 0;
    padding: 0;
    text-align: right;
}

.content_box_user {
    border-bottom: solid 1px;
}

.title {
    padding: 30px;
}

.main {
    width: 80%;
    margin: 0 auto;
}

.content_box {
	 margin: 0 auto;
}

.map {
    float: left;
}

.comment-date {
    float: none;
    font-size: 12px;
}

.content_box {
    float: left;
    padding-top: 20px;
}

.content_box_search {
    float: right;
    padding-top: 20px;
}

.iine__button{
    background: linear-gradient(to right, #feb400, #FFE300);
    line-height: 42px;
    color: #6d3701;
    font-size: 14px;
    display: inline-block;
    padding: 0 18px;
    border-radius: 100px;
    font-weight: bold;
 }

.box-category {
    float: left;
}

.box-text {
    word-wrap: break-word;
    background-color: lightgreen;
    border-radius: 10px;
    padding: 5px;
    margin: 0 -5px;
    margin-bottom: 10px;
}

.category {
    float: left;
}

.name {
    float: left;
}

.favorite_button {
    float: right;
}





.img-circlee {
    width: 70px;
    height: 70px;
    float: right;
    border-radius: 50%;
}

.comment {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  border-radius: 15px;
}

.comment:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #e0edff;
}

.comment-entry {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
}

.comment-info {
    float: right;
    padding-top: 10px;
}

.comment-user {
    text-align: center;
}

.date {
    text-align: center;
    font-size: 12px;
}



@media screen and (max-width:425px) {
.main_contents {
    width: 100%;
}

.img-circlee {
    width: 50px;
    height: 50px;
}

}


