
// You can use Sass (SCSS) here: http://sass-lang.com/


.home {
    width: 100%;
}

.main-visual {
	width: 100%;
	float: none;
	margin-top: 30px;
}

.box1{
    margin-top: 50px;
    position: relative;
    padding: 10px 1.5em;
    float: left;
    width: 33%;
}


.blog {
    margin-bottom: 50px;
}

body {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.top-message {
    margin: 0 auto;
}










.blog-main {
    width: 100%;
    height: 200px;
    background: radial-gradient(#7fffd4, #00ff7f);
}

.blog-title {
    padding-top: 50px;
}

.blog-contents {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.contents-title {
    font-weight: bold;
}

.blog-contents-top {
    margin-bottom: 50px;
    width: 100%;
}




.blog {
    margin: 0 auto;
}

.blog-box {
    width: 30%;
    height: 400px;
    margin: 50px 0;
    margin-right: 5%;
    padding: 0 20px;
    float: left;
}

.blog-box:nth-child(3) {
    margin-right: 0 ;
}

.blog-box-img {
    border: solid 1px #000;/*線*/
}







.main-contents {
    text-align: center;
    margin: 0 auto;
}

.main-contents-img {
    width: 300px;
    height: 200px;
    float: right;

}

.main-contents-box {
    width: 600px;
    height: 300px;
    padding-top: 45px;
    padding-bottom: 30px;
    text-align: left;
    border: solid 3px lime;/*線*/
}

.main-contents-title {
    text-align: center;
    font-size: 26px;
    margin-bottom: 30px;
    display: block;
    font-weight: bold;
    padding-top: 100px;
    margin-top: 50px;
}

.circleNumber {
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: #00fa9a;
    border-radius: 100px;
    margin-right: 10px;
}

.main-contents-info p {
    font-size: 16px;
    margin-bottom: 30px;
}

.main-contents-box span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -0.5em 0 0 -0.3em;
    color: #fff;
    font-size: 24px;
    line-height: 1;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-contents-box h4 {
    font-weight: bold;
    display: flex;
    align-items: center;
    line-height: 1.4;
    margin-bottom: 8px;
    margin-top: 10px;
}



@media screen and (max-width:768px) {
.box1{
    margin-top: 50px;
    position: relative;
    padding: 10px 1.5em;
    float: left;
    width: 33%;
}

.top-box {
    width: 100%;
}

.image-img {
    width: 90%;
    text-align: center;
}


.blog {
    margin-bottom: 50px;
}



.blog-box {
    width: 300px;
    margin-right: 5%;
    float: left;
    margin: 0 auto;
}

.main-contents {
    margin: 0 auto;
    text-align: center;
}

.main-contents-box {
    width: 100%;
    height: 400px;
    padding-top: 10px;
}

.main-contents-img {
    float: none;
    margin-top: 30px;
}

.blog-box-img {

}

.info-title {
    margin: 0 auto;
}

.btn-info {
    margin-top: 15px;
    font-size: 8px;
}

}


@media screen and (max-width:425px) {
.social i {
    color: blue;
    }
.main-contents-box {
    width: 100%;
}

.main-contents-img {
    margin-top: 30px;
}

.main-contents-info p {
    font-size: 16px;
    margin-bottom: 30px;
}

.blog-box h4, .blog-box p {
    text-align: center;
}

.blog-box p {
    margin-bottom: 20px;
}

.top-box {
    width: 100%;
}

.image-img {
    height: 70px;
    width: 90%;
    text-align: center;
}


.blog {
    margin-bottom: 50px;
}

.box1 {
    padding: 3px;
}

.btn-info {
    font-size: 5px;
    width: 100%;
    text-align: center;
}

}










