// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
	margin-top: 50px;
}

.head-image {
	width: 100%;
}

.users h4 {
	font-weight: bold;
}

.users {
	
}

.users p {
	word-break: break-all;
  	white-space: pre-wrap;
	margin: 0;
    padding: 0;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #00008b;
    background: #7fffd4;
    border-bottom: solid 6px #aac5de;
    border-radius: 9px;
}



