// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-main {
	width: 50%;
	margin-top: 30px;
	margin: 0 auto;
}

.head-image {
        width: 100%;
        background-size: cover;
}

.img-circles {
        float: left;
        border-radius: 50%;
}

.user-profile {
    background: #FFF;
    border: solid 3px #FFF;/*線*/
    border-radius: 10px;/*角の丸み*/
    margin: 30px 0;
    float: left;
    width: 100%;
}

.right-contents {
	width: 50%;
	float: right;
}

.user-name {
	font-size: 33px;
	font-weight: bold;
	text-align: center;
}


.user-zyanru {
	margin-top: 30px;
	text-align: center;
}



.users {
	margin-top: 50px;
}

.users h4 {
	font-weight: bold;
}

.main-index {
	width: 90%;
	margin: 0 auto;
}

.users-index {
	margin: 20px;
	deisplay: inline-block;
	font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
    float: left;
    width: 40%;
}


.img-circle  {
	float: right;
	margin: 10px 10px 0 10px;
}

.left-contents {
	width: 80%;

}

.users-index-name {
	margin: 0 auto;
	text-align: center;
	margin-top: 15px;
}

.users p {
	word-break: break-all;
  	white-space: pre-wrap;
	margin: 0;
    padding: 0;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #00008b;
    background: #7fffd4;
    border-bottom: solid 6px #aac5de;
    border-radius: 9px;
}

.users-index-box {
	text-align: center;
	width: 80%;
}

@media screen and (max-width:1025px) {

.main-index {
	width: 90%;
}



}


@media screen and (max-width:768px) {

.user-main {
        width: 100%;
}

.users-index {
	width: 100%;
	margin: 20px auto;
}

}

@media screen and (max-width:425px) {
.main-index {
	width: 100%;
}

.users-index {
	margin: 15px auto;
	deisplay: inline-block;
	font-weight: bold;
	 color: #6091d3;/*文字色*/
	 background: #FFF;
	 border: solid 3px #6091d3;/*線*/
	border-radius: 10px;/*角の丸み*/
}

.users-index-name {
	font-size: 14px;
}


.img-circle  {
	margin: 20px 0;
	width: 100px;
	height: 100px;
}

}

@media screen and (max-width:550px) {
.main-index, .user-main {
	width: 100%;
	margin-top: 25px;
}

.users {
	margin-top: -40px;
}

.img-circles  {
	margin: 0 auto;
	width: 130px;
	height: 130px;
	float: left;

.user-name {
	font-size: 24px;
	float: right;
	margin-top: 20px;
}

.user-zyanru {
	margin: 10px;
	text-align: center;
	font-size: 12px;
}



}

}
