// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-main {
	width: 50%;
	margin: 0 auto;
}


.user-name {
	font-size: 35px;
	text-align: center;
}

.head-image {
	width: 100%;
	background-size: cover;
}

.user-zyanru {
	margin-top: 30px;
	text-align: center;
}

.img-circles {
	float: left;
	text-align: center;
}

.users {
	margin-top: 50px;
}

.users h4 {
	font-weight: bold;
}

.main {
	width: 80%;
}

.users-index {
	margin-right: 20px;
	deisplay: inline-block;
	font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
    float: left;
}


.img-circle  {
	margin: 10px 10px 0 10px;
}

.users-index-boxes {
	margin: 0 auto;
	padding: 10px 0;
}

.users-index-name {
	font-size: 22px;
	margin: 0 auto;
	text-align: center;
}

.users p {
	word-break: break-all;
  	white-space: pre-wrap;
	margin: 0;
    padding: 0;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #00008b;
    background: #7fffd4;
    border-bottom: solid 6px #aac5de;
    border-radius: 9px;
}

.users-index-box {
	text-align: center;
}




@media screen and (max-width:425px) {
.main {
	width: 100%;
}

.users-index {
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 30px;
	deisplay: inline-block;
	font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
    float: left;
}

.img-circle  {
	margin: 0 auto;
	width: 100px;
	height: 100px;
}

}

@media screen and (max-width:425px) {
.main, .user-main {
	width: 100%;
}

.users {
	margin-top: -40px;
}

.img-circles  {
	margin: 0 auto;
	width: 120px;
	height: 120px;
	float: left;

.user-name {
	font-size: 40px;
	float: right;
	margin-top: 20px;
}

.users-index {
	margin: 10px ;
	deisplay: inline-block;
	font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
    float: left;
}

.img-circle  {
	margin: 0 auto;
	width: 120px;
	height: 120px;
}

.user-zyanru {
	margin: -20px;
	text-align: center;
}



}

}

